주피터 SQL 엔진 설정

In [1]:
%load_ext sql

In [ ]:
!pip install SQLAlchemy==1.4.47
!pip install ipython-sql==0.4.1

In [4]:
# ID와 PW를 자신의 환경에 맞게 수정
%sql postgresql://guest:Guest1234@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

월별 세션수를 계산하는 SQL

In [8]:
%%sql

SELECT
    LEFT(ts, 7) AS mon,
    COUNT(1) AS session_count
FROM raw_data.session_timestamp
GROUP BY 1
ORDER BY 1;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-05', 6261),
 ('2019-06', 10520),
 ('2019-07', 14840),
 ('2019-08', 17151),
 ('2019-09', 15790),
 ('2019-10', 18899),
 ('2019-11', 18059)]

가장 많이 사용된 채널은 무엇인가?
> 가장 많이의 기준이 애매하므로, 세션 수 기준으로 혹은 사용자 수 기준으로 모두 고려해봐야 한다.

In [9]:
%%sql

SELECT
    channel,
    COUNT(1) AS session_count,
    COUNT(DISTINCT userId) AS user_count
FROM raw_data.user_session_channel
GROUP BY 1                         -- GROUP BY channel
ORDER BY 2 DESC;              -- ORDER BY session_count DESC

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[('Youtube', 17091, 889),
 ('Google', 16982, 893),
 ('Naver', 16921, 882),
 ('Organic', 16904, 895),
 ('Instagram', 16831, 895),
 ('Facebook', 16791, 889)]

In [10]:
%%sql

SELECT
    channel,
    COUNT(1) AS session_count,
    COUNT(DISTINCT userId) AS user_count
FROM raw_data.user_session_channel
GROUP BY 1                         -- GROUP BY channel
ORDER BY 3 DESC;              -- ORDER BY user_count DESC

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[('Instagram', 16831, 895),
 ('Organic', 16904, 895),
 ('Google', 16982, 893),
 ('Facebook', 16791, 889),
 ('Youtube', 17091, 889),
 ('Naver', 16921, 882)]

가장 많은 세션을 만들어낸 사용자 ID는 무엇인가?

In [13]:
%%sql

SELECT
    userId,
    COUNT(1) AS count
FROM raw_data.user_session_channel
GROUP BY 1                         -- GROUP BY userId
ORDER BY 2 DESC              -- ORDER BY count DESC
LIMIT 1;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(1615, 528)]

월별 유니크한 사용자 수

In [14]:
%%sql

SELECT
  TO_CHAR(A.ts, 'YYYY-MM') AS month,  -- TS 타입을 STRING으로 변환시키기
  COUNT(DISTINCT B.userid) AS mau
FROM raw_data.session_timestamp A
JOIN raw_data.user_session_channel B
  ON A.sessionid = B.sessionid
GROUP BY 1
ORDER BY 1 DESC;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-11', 721),
 ('2019-10', 763),
 ('2019-09', 639),
 ('2019-08', 662),
 ('2019-07', 623),
 ('2019-06', 459),
 ('2019-05', 281)]

In [15]:
%%sql

SELECT
  TO_CHAR(A.ts, 'YYYY-MM') AS month,
  COUNT(B.userid) AS cnt,
  COUNT(DISTINCT B.userid) AS mau
FROM raw_data.session_timestamp A
JOIN raw_data.user_session_channel B ON A.sessionid = B.sessionid
GROUP BY 1
ORDER BY 1 DESC;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-11', 18059, 721),
 ('2019-10', 18899, 763),
 ('2019-09', 15790, 639),
 ('2019-08', 17151, 662),
 ('2019-07', 14840, 623),
 ('2019-06', 10520, 459),
 ('2019-05', 6261, 281)]

월별 채널별 유니크한 사용자 수

In [16]:
%%sql

SELECT
  TO_CHAR(A.ts, 'YYYY-MM') AS month,
  channel,
  COUNT(DISTINCT B.userid) AS mau
FROM raw_data.session_timestamp A
JOIN raw_data.user_session_channel B
  ON A.sessionid = B.sessionid
GROUP BY 1, 2
ORDER BY 1 DESC, 2 ASC;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
42 rows affected.

[('2019-11', 'Facebook', 688),
 ('2019-11', 'Google', 688),
 ('2019-11', 'Instagram', 669),
 ('2019-11', 'Naver', 667),
 ('2019-11', 'Organic', 677),
 ('2019-11', 'Youtube', 677),
 ('2019-10', 'Facebook', 698),
 ('2019-10', 'Google', 699),
 ('2019-10', 'Instagram', 707),
 ('2019-10', 'Naver', 713),
 ('2019-10', 'Organic', 709),
 ('2019-10', 'Youtube', 705),
 ('2019-09', 'Facebook', 597),
 ('2019-09', 'Google', 599),
 ('2019-09', 'Instagram', 588),
 ('2019-09', 'Naver', 592),
 ('2019-09', 'Organic', 592),
 ('2019-09', 'Youtube', 588),
 ('2019-08', 'Facebook', 611),
 ('2019-08', 'Google', 610),
 ('2019-08', 'Instagram', 621),
 ('2019-08', 'Naver', 626),
 ('2019-08', 'Organic', 608),
 ('2019-08', 'Youtube', 614),
 ('2019-07', 'Facebook', 558),
 ('2019-07', 'Google', 556),
 ('2019-07', 'Instagram', 567),
 ('2019-07', 'Naver', 553),
 ('2019-07', 'Organic', 557),
 ('2019-07', 'Youtube', 564),
 ('2019-06', 'Facebook', 414),
 ('2019-06', 'Google', 412),
 ('2019-06', 'Instagram', 410),
 ('2019-06', 'Naver', 398),
 ('2019-06', 'Organic', 416),
 ('2019-06', 'Youtube', 400),
 ('2019-05', 'Facebook', 247),
 ('2019-05', 'Google', 253),
 ('2019-05', 'Instagram', 234),
 ('2019-05', 'Naver', 237),
 ('2019-05', 'Organic', 238),
 ('2019-05', 'Youtube', 244)]

### CTAS & CTE

CTAS: SELECT를 가지고 테이블 생성

In [18]:
%%sql

DROP TABLE IF EXISTS adhoc.deun115_session_summary;
CREATE TABLE adhoc.deun115_session_summary AS
SELECT B.*, A.ts FROM raw_data.session_timestamp A
JOIN raw_data.user_session_channel B ON A.sessionid = B.sessionid;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [19]:
%%sql

SELECT
  TO_CHAR(ts, 'YYYY-MM') AS month,
  COUNT(DISTINCT userid) AS mau
FROM adhoc.deun115_session_summary
GROUP BY 1
ORDER BY 1 DESC;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-11', 721),
 ('2019-10', 763),
 ('2019-09', 639),
 ('2019-08', 662),
 ('2019-07', 623),
 ('2019-06', 459),
 ('2019-05', 281)]

중복된 레코드들 체크하기

In [20]:
%%sql

SELECT COUNT(1) FROM adhoc.deun115_session_summary;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(101520,)]

In [21]:
%%sql

SELECT COUNT(1)
FROM (
    SELECT DISTINCT userId, sessionId, ts, channel
    FROM adhoc.deun115_session_summary
);

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(101520,)]

In [22]:
%%sql

With ds AS (
  SELECT DISTINCT userId, sessionId, ts, channel
  FROM adhoc.deun115_session_summary
)
SELECT COUNT(1)
FROM ds;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(101520,)]

최근 데이터의 존재 여부 체크하기 (freshness)

In [23]:
%%sql

SELECT MIN(ts), MAX(ts)
FROM adhoc.deun115_session_summary;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(datetime.datetime(2019, 5, 1, 0, 13, 11, 783000), datetime.datetime(2019, 11, 30, 23, 58, 23))]

Primary key uniqueness가 지켜지는지 체크하기

In [24]:
%%sql

SELECT sessionId, COUNT(1)
FROM adhoc.deun115_session_summary
GROUP BY 1
ORDER BY 2 DESC
LIMIT 1;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[('05ae14d7ae387b93370d142d82220f1b', 1)]

값이 비어있는 컬럼들이 있는지 체크하기

In [25]:
%%sql

SELECT
    COUNT(CASE WHEN sessionId is NULL THEN 1 END) sessionid_null_count,
    COUNT(CASE WHEN userId is NULL THEN 1 END) userid_null_count,
    COUNT(CASE WHEN ts is NULL THEN 1 END) ts_null_count,
    COUNT(CASE WHEN channel is NULL THEN 1 END) channel_null_count
FROM adhoc.deun115_session_summary;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(0, 0, 0, 0)]

In [26]:
%%sql

CREATE TABLE IF NOT EXISTS raw_data.session_transaction(
  sessionid varchar(32),
  refunded boolean,
  amount int
);

CREATE TABLE IF NOT EXISTS raw_data.channel(
  channelName varchar(32)
);

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [33]:
%%sql

With ds AS (
  SELECT DISTINCT userId, sessionId, ts, channel
  FROM adhoc.deun115_session_summary
)
SELECT LEFT(ds.ts, 7) AS month,
       ds.channel,
       COUNT(DISTINCT ds.userid) AS uniqueUsers,
       COUNT(DISTINCT t.sessionid) AS paidUsers,
       SUM(t.amount) AS grossRevenue,
       SUM(CASE WHEN t.refunded is False THEN t.amount ELSE 0 END) AS netRevenue
FROM ds
LEFT JOIN raw_data.session_transaction AS t
  ON ds.sessionid = t.sessionid
GROUP BY 2, 1;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
42 rows affected.

[('2019-05', 'Instagram', 234, 11, 959, 770),
 ('2019-05', 'Youtube', 244, 10, 529, 529),
 ('2019-05', 'Organic', 238, 18, 1846, 1571),
 ('2019-05', 'Facebook', 247, 14, 1199, 997),
 ('2019-05', 'Google', 253, 10, 580, 580),
 ('2019-07', 'Facebook', 558, 32, 2222, 2144),
 ('2019-07', 'Organic', 557, 24, 1600, 1600),
 ('2019-07', 'Youtube', 564, 36, 2210, 2037),
 ('2019-08', 'Instagram', 621, 29, 2129, 2001),
 ('2019-08', 'Google', 610, 29, 2210, 1894),
 ('2019-08', 'Facebook', 611, 19, 1009, 1009),
 ('2019-09', 'Facebook', 597, 29, 2270, 2270),
 ('2019-09', 'Youtube', 588, 16, 1301, 1301),
 ('2019-10', 'Youtube', 705, 36, 2492, 2319),
 ('2019-11', 'Naver', 667, 26, 2234, 1987),
 ('2019-11', 'Google', 688, 26, 2286, 2235),
 ('2019-11', 'Facebook', 688, 26, 1678, 1678),
 ('2019-05', 'Naver', 237, 11, 867, 844),
 ('2019-06', 'Youtube', 400, 17, 1042, 1042),
 ('2019-06', 'Naver', 398, 16, 1090, 1090),
 ('2019-06', 'Google', 412, 13, 947, 947),
 ('2019-06', 'Organic', 416, 14, 1129, 940),
 ('2019-06', 'Instagram', 410, 21, 1462, 1418),
 ('2019-06', 'Facebook', 414, 22, 1578, 1578),
 ('2019-07', 'Google', 556, 21, 1558, 1385),
 ('2019-07', 'Naver', 553, 19, 1547, 1547),
 ('2019-07', 'Instagram', 567, 25, 1896, 1766),
 ('2019-08', 'Naver', 626, 22, 1829, 1551),
 ('2019-08', 'Youtube', 614, 18, 987, 950),
 ('2019-08', 'Organic', 608, 27, 1643, 1606),
 ('2019-09', 'Organic', 592, 23, 1267, 1267),
 ('2019-09', 'Google', 599, 25, 1872, 1691),
 ('2019-09', 'Instagram', 588, 20, 1260, 1122),
 ('2019-09', 'Naver', 592, 21, 1996, 1996),
 ('2019-10', 'Google', 699, 31, 2150, 2098),
 ('2019-10', 'Facebook', 698, 29, 1650, 1641),
 ('2019-10', 'Organic', 709, 33, 2762, 2608),
 ('2019-10', 'Instagram', 707, 36, 2568, 2395),
 ('2019-10', 'Naver', 713, 33, 2695, 2695),
 ('2019-11', 'Organic', 677, 34, 2626, 2255),
 ('2019-11', 'Instagram', 669, 26, 2116, 2116),
 ('2019-11', 'Youtube', 677, 48, 3532, 3331)]