In [1]:
%load_ext sql

In [2]:
!pip install SQLAlchemy==1.4.47

Requirement already satisfied: SQLAlchemy==1.4.47 in /usr/local/lib/python3.10/dist-packages (1.4.47)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.47) (3.0.1)

In [3]:
!pip install ipython-sql==0.4.1

Requirement already satisfied: ipython-sql==0.4.1 in /usr/local/lib/python3.10/dist-packages (0.4.1)
Requirement already satisfied: prettytable<1 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.4.47)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.4.4)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (67.7.2)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.19.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.41)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.0.1)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.10)

*ID와* PW와 호스트이름을 자신의 것으로 변경. 아래는 예로 동작하지 않음

In [4]:
%sql postgresql://admin:xxxx@default-workgroup.476116517495.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev

### Redshift Schema 설정

In [5]:
%%sql

CREATE SCHEMA raw_data;
CREATE SCHEMA analytics;
CREATE SCHEMA adhoc;
CREATE SCHEMA pii;

 * postgresql://admin:***@default-workgroup.xxxxxx17495.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.
Done.
Done.

[]

In [6]:
%%sql

select * from pg_namespace;

 * postgresql://admin:***@default-workgroup.xxxxxx17495.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
13 rows affected.

[('pg_toast', 1, None),
 ('pg_internal', 1, None),
 ('catalog_history', 1, None),
 ('pg_automv', 1, None),
 ('pg_auto_copy', 1, None),
 ('pg_catalog', 1, '{rdsdb=UCA/rdsdb,=U/rdsdb}'),
 ('public', 1, '{rdsdb=UCA/rdsdb,=UC/rdsdb}'),
 ('information_schema', 1, '{rdsdb=UCA/rdsdb,=U/rdsdb}'),
 ('pg_s3', 1, None),
 ('raw_data', 100, None),
 ('analytics', 100, None),
 ('adhoc', 100, None),
 ('pii', 100, None)]

### Redshift User 설정

In [7]:
%%sql

CREATE USER deun PASSWORD 'xxxxxxx';

 * postgresql://admin:***@default-workgroup.476116517495.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [8]:
%%sql

select * from pg_user;

 * postgresql://admin:***@default-workgroup.476116517495.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
4 rows affected.

[('rdsdb', 1, True, True, True, '********', 'infinity', None),
 ('IAM:RootIdentity', 101, True, True, False, '********', None, None),
 ('admin', 100, True, True, False, '********', 'infinity', None),
 ('deun', 102, False, False, False, '********', None, None)]

### Redshift Group 설정

In [9]:
%%sql

CREATE GROUP analytics_users;
CREATE GROUP pii_users;

 * postgresql://admin:***@default-workgroup.476116517495.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [10]:
%%sql

CREATE GROUP analytics_authors;
ALTER GROUP analytics_authors ADD USER deun;

 * postgresql://admin:***@default-workgroup.476116517495.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [11]:
%%sql

ALTER GROUP analytics_users ADD USER deun;
ALTER GROUP pii_users ADD USER deun;

 * postgresql://admin:***@default-workgroup.476116517495.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

### Redshift Role 설정

In [12]:
%%sql

CREATE ROLE staff;
CREATE ROLE manager;
CREATE ROLE external;

 * postgresql://admin:***@default-workgroup.476116517495.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.
Done.

[]

In [13]:
%%sql

GRANT ROLE staff TO deun;   -- keeyong 대신에 다른 역할(Role)을 지정 가능
GRANT ROLE staff TO ROLE manager;

 * postgresql://admin:***@default-workgroup.476116517495.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [14]:
%%sql

 select * from SVV_ROLES;

 * postgresql://admin:***@default-workgroup.476116517495.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
8 rows affected.

[(105587, 'sys:operator', 'rdsdb', None),
 (105588, 'sys:monitor', 'rdsdb', None),
 (105589, 'sys:dba', 'rdsdb', None),
 (105590, 'sys:secadmin', 'rdsdb', None),
 (105591, 'sys:superuser', 'rdsdb', None),
 (221499, 'staff', 'admin', None),
 (221500, 'manager', 'admin', None),
 (221501, 'external', 'admin', None)]

### COPY 명령으로 테이블 만들기

In [15]:
%%sql

CREATE TABLE raw_data.user_session_channel (
   userid integer ,
   sessionid varchar(32) primary key,
   channel varchar(32)
);

 * postgresql://admin:***@default-workgroup.476116517495.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [16]:
%%sql

-- 아래 쿼리에서 aws_iam_role의 값은 각자 Redshift cluster에 지정한 S3 읽기 권한 ROLE의 ARN을 지정
COPY raw_data.user_session_channel
FROM 's3://deun-test-bucket/test_data/user_session_channel.csv'
credentials 'aws_iam_role=arn:aws:iam::476116517495:role/redshift.read.s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@default-workgroup.476116517495.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [17]:
%%sql

SELECT * FROM raw_data.user_session_channel LIMIT 10;

 * postgresql://admin:***@default-workgroup.476116517495.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[(44, 'f91ceb5afe88b7ab6023892165de4033', 'Youtube'),
 (64, '15a50c8ba6a0002a2fa7e5d8c0a40bd9', 'Youtube'),
 (270, '46384036044a604b6b3316fc167fc15f', 'Naver'),
 (752, '9b16759a62899465ab21e2e79d2ef75c', 'Organic'),
 (233, '708be71b9ab6e0a84252760579ade9f1', 'Youtube'),
 (786, 'e2a7555f7cabd6e31aef45cb8cda4999', 'Naver'),
 (270, '717e15ebeb12bbe8061ef3c21578f463', 'Facebook'),
 (114, '8718dea05bc1dc95810363685cef0b8e', 'Google'),
 (363, 'b5d62aa6024ab6a65a12c78c4c2d4efc', 'Facebook'),
 (983, '95a0810a93a87065bf7b28490817e9e3', 'Facebook')]

In [18]:
%%sql

CREATE TABLE raw_data.session_timestamp (
   sessionid varchar(32) primary key,
   ts timestamp
);

 * postgresql://admin:***@default-workgroup.476116517495.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [19]:
%%sql

-- 아래 쿼리에서 aws_iam_role의 값은 각자 Redshift cluster에 지정한 S3 읽기 권한 ROLE의 ARN을 지정
COPY raw_data.session_timestamp
FROM 's3://deun-test-bucket/test_data/session_timestamp.csv'
credentials 'aws_iam_role=arn:aws:iam::476116517495:role/redshift.read.s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@default-workgroup.476116517495.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [20]:
%%sql

SELECT * FROM raw_data.session_timestamp LIMIT 10;

 * postgresql://admin:***@default-workgroup.476116517495.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[('3d191ef6e236bd1b9bdb9ff4743c47fe', datetime.datetime(2019, 5, 1, 15, 33, 58, 197000)),
 ('05e97c207235d63ceb1db43c60db7bbb', datetime.datetime(2019, 5, 3, 13, 7, 39, 740000)),
 ('ccf0304d099baecfbe7ff6844e1f6d91', datetime.datetime(2019, 5, 3, 17, 22, 53)),
 ('738a6457be8432bab553e21b4235dd97', datetime.datetime(2019, 5, 8, 17, 33, 14, 540000)),
 ('ba7e36c43aff315c00ec2b8625e3b719', datetime.datetime(2019, 5, 11, 15, 38, 32, 847000)),
 ('bc6d753857fe3dd4275dff707dedf329', datetime.datetime(2019, 5, 15, 15, 41, 10, 750000)),
 ('1977ab8c9f9473d8594671be4ddf9e7f', datetime.datetime(2019, 5, 16, 22, 46, 27, 953000)),
 ('d846e38f1196eb61a7b71e1cd7a913e4', datetime.datetime(2019, 5, 18, 23, 14, 12, 323000)),
 ('9c16b0e83f09596202f402261f25c8a9', datetime.datetime(2019, 5, 23, 15, 20, 18, 297000)),
 ('84fec9a8e45846340fdf5c7c9f7ed66c', datetime.datetime(2019, 5, 22, 23, 44, 15))]

In [21]:
%%sql

CREATE TABLE raw_data.session_transaction (
    sessionid varchar(32) primary key,
    refunded boolean,
    amount int
)

 * postgresql://admin:***@default-workgroup.476116517495.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [22]:
%%sql

-- 아래 쿼리에서 aws_iam_role의 값은 각자 Redshift cluster에 지정한 S3 읽기 권한 ROLE의 ARN을 지정
COPY raw_data.session_transaction
FROM 's3://deun-test-bucket/test_data/session_transaction.csv'
credentials 'aws_iam_role=arn:aws:iam::476116517495:role/redshift.read.s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@default-workgroup.476116517495.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [23]:
%%sql

SELECT * FROM raw_data.session_transaction LIMIT 10;

 * postgresql://admin:***@default-workgroup.476116517495.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[('00029153d12ae1c9abe59c17ff2e0895', False, 85),
 ('008909bd27b680698322c750c400e4b1', False, 13),
 ('0107acb41ef20db2289d261d4e34fd38', False, 16),
 ('018544a2c48077d2cc3ce3278ab1e805', False, 39),
 ('020c38173caff02033564200e0288aa9', False, 61),
 ('029591145fad252b28d844d823097400', False, 13),
 ('03190309cbcd7161a426abd4782bdcd2', False, 75),
 ('03a13aa6921aed989b31d92dc73b391a', False, 129),
 ('04215c1ad3aaff3ed175446d2ea3c0f2', False, 99),
 ('049b8c570e6cc662b4a3d7e3c86e236f', False, 24)]

### analytics 테스트 테이블 만들기

In [ ]:
%%sql

CREATE TABLE analytics.mau_summary AS
SELECT
  TO_CHAR(A.ts, 'YYYY-MM') AS month,
  COUNT(DISTINCT B.userid) AS mau
FROM raw_data.session_timestamp A
JOIN raw_data.user_session_channel B ON A.sessionid = B.sessionid
GROUP BY 1
ORDER BY 1 DESC;

### 사용자 그룹 권한 설정하기

#### analytics_authors

In [ ]:
%%sql

GRANT ALL ON SCHEMA analytics TO GROUP analytics_authors;
GRANT ALL ON ALL TABLES IN SCHEMA analytics TO GROUP analytics_authors;

GRANT ALL ON SCHEMA adhoc to GROUP analytics_authors;
GRANT ALL ON ALL TABLES IN SCHEMA adhoc TO GROUP analytics_authors;

GRANT USAGE ON SCHEMA raw_data TO GROUP analytics_authors;
GRANT SELECT ON ALL TABLES IN SCHEMA raw_data TO GROUP analytics_authors;

#### analytics_users

In [ ]:
%%sql

GRANT USAGE ON SCHEMA analytics TO GROUP analytics_users;
GRANT SELECT ON ALL TABLES IN SCHEMA analytics TO GROUP analytics_users;

GRANT ALL ON SCHEMA adhoc to GROUP analytics_users;
GRANT ALL ON ALL TABLES IN SCHEMA adhoc TO GROUP analytics_users;

GRANT USAGE ON SCHEMA raw_data TO GROUP analytics_users;
GRANT SELECT ON ALL TABLES IN SCHEMA raw_data TO GROUP analytics_users;

#### pii_users

In [ ]:
%%sql

GRANT USAGE ON SCHEMA pii TO GROUP pii_users;
GRANT SELECT ON ALL TABLES IN SCHEMA pii TO GROUP pii_users;

#### keeyong으로 로그인해서 raw_data 테이블을 수정하려 시도해보기

In [ ]:
%%sql

ALTER USER keeyong PASSWORD 'keeyongHan1!'

 * postgresql://admin:***@default.521227329883.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%sql postgresql://keeyong:keeyongHan1!@default.521227329883.us-west-2.redshift-serverless.amazonaws.com:5439/dev

In [ ]:
%%sql

DELETE FROM raw_data.user_session_channel;

   postgresql://admin:***@default.521227329883.us-west-2.redshift-serverless.amazonaws.com:5439/dev
 * postgresql://keeyong:***@default.521227329883.us-west-2.redshift-serverless.amazonaws.com:5439/dev
(psycopg2.errors.InsufficientPrivilege) permission denied for relation user_session_channel

[SQL: DELETE FROM raw_data.user_session_channel;]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Redshift Spectrum 테스트

In [ ]:
%%sql

-- AWSGlueConsoleFullAccess
CREATE EXTERNAL SCHEMA external_schema
from data catalog
database 'myspectrum_db'
iam_role 'arn:aws:iam::521227329883:role/redshift.read.s3'
create external database if not exists;

 * postgresql://admin:***@default.521227329883.us-west-2.redshift-serverless.amazonaws.com:5439/dev
(psycopg2.errors.DuplicateSchema) Schema "external_schema" already exists

[SQL: -- AWSGlueConsoleFullAccess
CREATE EXTERNAL SCHEMA external_schema
from data catalog
database 'myspectrum_db'
iam_role 'arn:aws:iam::521227329883:role/redshift.read.s3'
create external database if not exists;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
%%sql

CREATE TABLE raw_data.user_property AS
SELECT
  userid,
  CASE WHEN cast (random() * 2 as int) = 0 THEN 'male' ELSE 'female' END gender,
  (CAST(random() * 50 as int)+18) age
FROM (
  SELECT DISTINCT userid
  FROM raw_data.user_session_channel
);

In [ ]:
%%sql

CREATE EXTERNAL TABLE external_schema.user_session_channel(
   userid integer ,
   sessionid varchar(32),
   channel varchar(32)
)
row format delimited
fields terminated by ','
stored as textfile
location 's3://keeyong-test-bucket/usc/';

In [ ]:
%%sql

SELECT gender, COUNT(1)
FROM external_schema.user_session_channel usc
JOIN raw_data.user_property up ON usc.userid = up.userid
GROUP BY 1;

 * postgresql://admin:***@default.521227329883.us-west-2.redshift-serverless.amazonaws.com:5439/dev
2 rows affected.

[('female', 50154), ('male', 51366)]

In [ ]:
%%sql

vacuum full